body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Header Here*/
header {
    background-color: #e5e0d8;
    padding: 1rem 2%;
}
header h1 {
    text-align: center;
    margin: 0;
    color: #725c3a;
    font-size: 3rem;
}
header p {
    text-align: center;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    margin: 0;
    color: #725c3a;
    font-size: .9rem;
    letter-spacing: .5px;
}

/** nav goes here*/
nav {
    background-color: #e5d2b8;
}
nav ul {
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    display: flex;
}
nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #725c3a;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #725c3a;
    color: #e5d2b8;
}
nav a:hover {
    color: #fff;
}

/* stuff for the main*/
main{
    padding: .7rem 2vw;
}
main h1 {
    color: #5d624c;
    font-size: 2rem;
}

main h2 {
    color: #868b6b;
    margin-bottom: .2rem;
    font-size: 1.5rem;
}

main p {
    color: #2f3133;
    margin: 0 0 .01rem 0;
    font-size: 1rem;
    padding: 0 0 .5rem 0;

}

main ol {
    margin-bottom: 3rem;
    padding: .5rem 3%;
    background-color: #efefef;
    width: 7rem;
}

main dl dt {
    color: #606c38;
    font-weight: 700;
}
main dl dd {
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color: #e5e0d8;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: .5rem;
    margin: .7rem 0 1.5rem 0;
}

main a {
    color: #024873;
}
main a:hover {
    color: #809671;
}


/* Footer Here*/
footer{
    background-color: #e5e0d8;
    text-align: center;
    color: #725c3a;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #725c3a;
}
